html {
  background-color: #F4F2E8;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: scroll;
  /*
  height: calc(100vh - var(--scrollbarHeight));
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  */
}

img#menu {
  position: absolute;
  height: 99%;
}
